/* reset */
body,
p,
ul {
  margin: 0;
}



.text-center {
  text-align: center;
}

.show-more {
  border-top: 1px solid #d0cccc;
}

.bg-youtube {
  width: 17px;
  border-radius: 3px;
  padding-right: 0.2em;
  vertical-align: sub;
}

.video-desc {
  padding: 1em 1em 0.5em;
}

.text-big {
  line-height: normal;
  font-size: 15px;
  font-weight: 600;
}
/* 
caption
*/
.caption.bg-white.p-1.mt-half {
  display: flex;
  flex-direction: column;
}


.channel-body {
  height: 3em;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: min-content max-content auto;
  align-content: center;
  column-gap: 0.5em;
  border-bottom: 1px solid #d0cccc;
}

.views {
  font-weight: 599;
  font-size: 1.5em;
  line-height: 1.3em;
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
}

.user-account {

  grid-area: 1/2/2/3;
  justify-self: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.btn.subscribe {
  padding: 0.46em 0.5em;
  border-radius: 0;
  background-color: #ff081d;
  border: none;
  font-weight: 500;
}

.subscribers {
  background-color: #eceaea;
  color: #757575;
  font-size: 12px;
  height: 1em;
  display: inline-block;
  position: absolute;
  padding: 0.41em 0.5em;
  border: 1px solid #c8c5c5;
  border-left: none;
}

.edge-info {
  grid-area: 1/7/2/8;
  align-self: end;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-bottom: 0.4em;
}

.pg-wrapper {
  height: 3px;
  position: relative;
  background: #f2f2f2;
  width: 7em;
}

.progress-bar {
  display: block;
  height: 100%;
  background-color: #097ce1;
  position: relative;
  overflow: hidden;
  width: 50%;
}

.channel-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.3em;
}

/* comments */
.comments {
  display: flex;
  justify-content: center;
  align-content: center;
}

/**
grid positioning
*/
body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(5, auto);
  background-color: #f1f1f1;
}

.row {
  grid-column-start: 1;
  grid-column-end: 3;
}

.half-1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.half-2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #006dbb;
}

.footer * {
  color: #000;
}

.card-info * {
  padding-bottom: 0.3em;
}

.btn-setting {
  border: 1px solid rgb(247, 247, 247);
  background-color: rgb(247, 247, 247);
  border-radius: 3px;
  text-align: center;
  margin-block-end: 0.5em;
  margin-inline-end: 0.5em;
}

.footer select,
.footer .btn-setting,
.footer button {
  border: none;
  background: rgb(247, 247, 247);
}


/*
grid header
*/

.header-grid {
  display: grid;
  grid-template-columns: 4em 10em auto 20em;
  height: 60px;
  align-content: center;
}

.toggler,
.brand,
.form-inline,
.nav-list {
  align-self: center;
}

.toggler {
  justify-self: center;
}

/*
flex positioning
*/
.row.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5em 1em;
}

.form-inline {
  flex-grow: 9 !important;
  width: 60%;
  display: inherit;
}

/*
spacing
*/

.py-1 {
  padding-block-start: 1em;
  padding-bottom: 1em;
}

.p-1 {
  padding: 1em;
}

.p-2 {
  padding: 2em;
}

.pb-1 {
  padding-bottom: 1em;
}

.pb-half {
  padding-bottom: 0.5em;
}

.pt-half {
  padding-top: 0.5em;
}

.px-half {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.px-2 {
  padding: 0 2em;
}

.px-1 {
  padding-left: 1em;
  padding-right: 1em;
}

.m-0 {
  margin: 0;
}

.my-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mt-half {
  margin-top: 0.5em;
}

.mt-1 {
  margin-top: 1em;
}

.ml--2 {
  margin-left: -2px;
}

/*
header
 */

.brand-img {
  width: 100px;
  height: 30px;
}

.super-script {
  vertical-align: top;
  font-size: 0.75em;
  margin-left: -3px;
  color: #777;
}

/*
header forms
*/

.btn-inline {
  color: #a0a0a0;
  background: #f8f8f8;
  padding: 0 2em;
  border: 1px solid #e8e2e2;
}

.input-inline {
  width: 100%;
  height: 27px;
  padding: 2px 6px;
}

.nav-list {
  margin: 0;
  display: inline-flex;
  align-items: center;
}

.list-item {
  display: inline;
  padding-left: 2em;
}

.btn-blue {
  padding: 0 0.7em;
  height: 28px;
  font-weight: 500;
  font-size: 11px;
  background-color: #387cc0;
  border-radius: 3px;
}

/**
bannner
 */

.banner {
  background-color: #006dbb;
  border: 1px #006dbb solid;
  border-left-width: 4px;
}

.banner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #006dbb;
  font-size: 0.9em;
  font-weight: 500;
  height: 2.2em;
}

.banner-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 1em bold;
  height: 30px;
}

/**
color
*/

.descent {
  color: #808080;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

/* font */
p {
  line-height: normal;
  margin: 0;
}

.text-medium {
  font-size: 16px;
}

.text-small {
  font-size: 14px;
}

.caption-text {
  font-size: 22px;
  letter-spacing: 0.001em;
  font-weight: 500;
  font-family: serif;
}

/**
video player
*/
iframe {
  max-width: 100%;
  border: none;
}

/* right side bar (video suggestion component) */
.half-2.right-side.bg-white.p-1 {
  height: min-content;
}

.card {
  display: flex;
  margin-bottom: 1em;
}

.card .thumbnail {
  height: 94px;
  width: 168px;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.panel-header {
  display: flex;
  justify-content: space-between;
}

.panel.footer {
  border-top: 1px solid #d0cccc;
}

.uppercase {
  text-transform: uppercase;
}

/*
media queries
*/
@media (min-width: 320px) and (max-width: 980px) {
  .form-inline {
    padding-bottom: 0.5em;
  }
}

/**
code from @Ade
*/

i.close {
  float: right;
  margin-right: 20px;
  margin-top: 5px;
  color: white;
}

div.banner-header {
  height: 30px;
  width: auto;
  background-color: #387cc0;
  color: white;
}

a.right {
  font-size: smaller;
  text-decoration: none;
  float: right;
}

label {
  font-size: smaller;
  color: #3455eb;
}

ul.bold {
  display: grid;
  grid-template-columns: repeat(6, auto);
  width: 400px;
  font-size: medium;
}

ul.light {
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 320px;
  font-size: small;
}

div.setting {
  display: grid;
  grid-template-columns: repeat(6, auto);
  width: 900px;
  margin-left: 40px;
  margin-top: 15px;
}

select#language,
select#location {
  height: 32px;
  width: 102px;
}

label.language,
label.location,
label.res_mode {
  font-size: medium;
}

select#res-mode {
  height: 34px;
  width: 57px;
}

i.fas.fa-hourglass-half,
i.fas.fa-question-circle {
  height: 18px;
  margin-top: 7px;
}

span.video-title,
span.channel.text-descent,
span.text-descent {
  margin-left: 0;
  font-size: 1.5em;
}

span.text-descent,
span.channel.text-descent {
  color: blueviolet;
  font-size: medium;
}

.left{display: grid;
  grid-template-columns: repeat(3,auto);
  grid-gap: 35px;}

  .right{display: grid;
  grid-template-columns: repeat(2,auto);
  grid-gap: 25px;}