/**
grid positioning
*/
body {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2);
  grid-template-rows: repeat(5);
  background-color: #f1f1f1;
}

.row {
  grid-column-start: 1;
  grid-column-end: 3;
}

.half-1 {
  grid-column-start: 1 !important;
  grid-column-end: 2 !important;
}

.half-2 {
  grid-column-start: 2 !important;
  grid-column-end: 3 !important;
}
